.Login {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-logo {
  height: 40vmin;
}

.Login-link {
  color: #09d3ac;
}
